{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

<div class="home-container">
    <div class="carousel">
        <img src="img/image1.jpg" class="active">
        <img src="img/image2.jpg">
        <img src="img/image3.jpg">
        {# <img src="img/image3.jpg"> #}
        <button onclick="nextImage()">Next</button>
    </div>
</div>

<div class="secondary-container">


</div>

{% endblock %}

