{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<div class="home-container">
    <div class="carousel">
        <div class="carousel-overlay">
            <div class="carousel-text">
                <h2 id="dynamicTitle"></h2>
                <p id="dynamicDescription"></p>
                <button id="dynamicButton"></button>
            </div>
        </div>
        {% for text in dynamicTexts %}
            <img src="{{ asset('img/ferme' ~ loop.index ~ '.jpg') }}" class="{{ loop.first ? 'active' : '' }}" data-id="{{ text.id }}">
        {% endfor %}
        <button class="carousel-button-prev" onclick="prevImage()">Prev</button>
        <button class="carousel-button-next" onclick="nextImage()">Next</button>
    </div>
</div>
<div class="secondary-container">
</div>

<script>
    var dynamicTexts = {{ dynamicTexts|map(text => ({
        'id': text.id,
        'buttonText': text.buttonText,
        'blurredSectionText': text.blurredSectionText,
        'blurredSectionTitle': text.blurredSectionTitle
    }))|json_encode|raw }};
</script>

{% endblock %}