/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul, li, a {
list-style: none;
text-decoration: none;
color: inherit;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: "Questrial", sans-serif;
}

html {
  overflow-y: scroll;
}


/* **************** COLOR *********************** */

:root {
    --primary-color: #1a8fe3;
    --secondary-color: #1b1b1b;
    --tertiary-color: #f5f5f5;
    --text-color: #333;
    --title-color: #4a4a4a;
    --navbar-color: rgba(255, 255, 255, 0.3);
    --doree-color: #AB873D;
    --red-color: #e83b3b;
    --green-color: #4fcf57;
    --darkPink-color: rgb(231, 127, 107);
    --midPink-color: #f6cec8;
    --lightPink-color: rgb(255, 242, 239); 
    }

h1 {
    color: var(--red-color);
}

/* *********** NAV ******************  */

nav {
    background-color: bisque;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
}

.nav-left {
  margin-left: 10px;
  font-size: 1.5rem;
}

.nav-right {
  margin-right: 10px;
  position: relative;
  font-size: 1.2rem;
}

.nav-right a {
  position: absolute;
  right: 10px;
}

.nav-right a.active {
  visibility: visible;
}


.nav-center {
  padding-right: 150px;
}

.nav-center a {
  margin: 0 10px;
  font-size: 1.2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

#register {
  margin-right: 100px;
}

/* ************* FOOTER ******************  */

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto; 
  background-color: aquamarine;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left, .footer-center, .footer-right {
    display: flex;
    align-items: center;
}

.footer-right a {
    margin-left: 10px;
}

.footer-center a {
    /* margin: 0 auto;  */
    margin-left: 180px;
}

a {
    text-decoration: none;
    color: black;
}


/* ************* CALENDRIER *************** */

.calendar {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

.calendar:hover {
  cursor: pointer;
}

.calendar table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 5px;
}

.calendar th, .calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

/* .td-hover:hover {
  background-color: #d2acf7;
} */

/* .calendar th {
  background-color: #f2f2f2;
} */

.date {
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.slots {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.slot {
  display: block;
  width: 100%;
  padding: 5px;
  margin: 2px 0;
  border: none;
  /* border-radius: 4px; */
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.slot.morning {
  background-color: #8f4501;
}

.slot.morning:hover {
  background-color: #7a3b00;
}

.slot.afternoon {
  background-color: #2d7b00;
}

.slot.afternoon:hover {
  background-color: #276900;
}

.slot:hover {
  background-color: #0056b3;
  /* transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); */
}

/* .calendar td.today {
  border: 2px solid rgb(198, 52, 198);
} */

.calendar td {
  background-color: #f0f0f0;
  transition: all 0.3s ease;
}

.calendar td:hover {
  background-color: #e0e0e0;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* .calendar td.today .date {
  color: rgb(198, 52, 198);
  font-weight: bold;
} */

.close-calendar {
  font-size: 24px;
  cursor: pointer;
  float: right;
}

/* .calendar td.today {
  border: 2px solid rgb(255, 174, 0);
} */

.calendar td.today .date {
  color: rgb(255, 174, 0);
  font-weight: bold;
}

/* Style pour le modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* CART  */

 