<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirmation de votre commande</title>
</head>
<body>
    {# Demander le pseudo ou nom à l'enregistrement et remplacer le mail ici par ca ?#}
    <h1>Bonjour {{ user.email }},</h1>

    <p>Merci pour votre commande. Voici les détails de votre panier :</p>

    <ul>
        {% for item in cart %}
            <li>{{ item.product.name }} - {{ item.product.productPrice }} € x {{ item.quantity }}</li>
        {% endfor %}
    </ul>

    <p>Nous vous remercions de votre confiance et espérons vous revoir bientôt.</p>

    <p>Cordialement,<br>L'équipe de votre Boutique</p>
</body>
</html>

