{% extends 'base.html.twig' %}

{% block title %}Réservation Réussie{% endblock %}

{% block body %}
<div class="reservation-success">
    <h1>Réservation Réussie</h1>
    <p>Votre réservation a été enregistrée avec succès. Merci pour votre commande !</p>
</div>
{% endblock %}
